<div class="marTop">
  <!-- <span ng-class="{red : p1}">{{player1}}</span><br>
  <span ng-class="{red : p2}">{{player2}}</span>
   -->  
  <div class="col-md-7 col-sm-12 col-xs-12" style="margin-left:20px;" >
      <div class="grid-box">
        <div >      
          <div ng-repeat="row in chessArray">
            <div class="row">
                <div ng-repeat="square in row" class="col-md-1 col-sm-1 col-xs-1" ng-model="chessArray" style="border:1px solid black;height:40px;" data-drop="true" jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(square, $index,$parent.$index)'}" ng-class="square.class" > 
                  <div id="square{{$parent.$index}}{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}}, animate:true, onStart:'dragCallback(square,$index,$parent.$index)' }"><img ng-show="square.fill" ng-src="assets/{{square.image}}" width="30" height="30" ></div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--<span ng-show="gridObj.length > 0">0,0</span>-->

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" >
      <div class="borderM">

      <!-- Need to add a message label and -->
      <div>

      <strong>{{message}}</strong>
      <hr>
      <span>Player1(white)   : <strong ng-class="{'red_color' : p1, 'black_color' : p2}">{{player1}}</strong></span>
      <img ng-repeat="src in player1Img" ng-src="assets/{{src}}.png" width="5px" height="5px">
      </div>

      <div>
      <span>Player2(black)   : <strong ng-class="{'red_color' : p2, 'black_color' : p1}">{{player2}}</strong> </span>
      <img ng-repeat="src in player2Img" ng-src="assets/{{src}}.png" width="5px" height="5px">
      </div>

      </div>
    </div>
</div>